extends layout 
block content
    #container 
        .headerContainer 
            span You Write 
        //-#mainCaption All the puppies rushed out of the playbocken when the ice cream truck arrived.
        #mainCaption The berry bush became frightened because of too much wine and song.
         .headerContainer 
           span I Draw 
        #imageContainer 
            img#mainImage
    script
        initialize();