extends layout 
block content
    #container
        .navigatorContainer
            img#navigateFirst(src='/images/first.png')
            img#navigatePrevious(src='/images/previous.png')
            img#navigateNext(src='/images/next.png')
            img#navigateLast(src='/images/last.png')
        .headerContainer 
            span You Write 
        #mainCaption
        .headerContainer 
           span I Draw 
        #imageContainer 
            img#mainImage
    script
        initializeNavigator();