#container {
     margin-left: 30px;
   margin-top: 10px;
    width: 1000px;
    font-family: 'Indie Flower';
    background-color: whitesmoke;
    float:left;
}
#container div {
    width: 100%;
    float:left;
}
.headerContainer {
    font-size: 36px;
    font-weight: bold;
}
#mainImage {
    max-height: 750px;
}
#mainCaption{
   font-size: 24px;
}